<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма проекта</title>
</head>
<body>
    <h1>Форма проекта</h1>
    <form method="post" action="{{ url_for('users.index') }}">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <label for="name_project">Название проекта:</label>
        {{ form.name_project(placeholder="Название проекта") }}
        <br>
        <br>
        <label for="num_people">Количество людей в проекте:</label>
        {{ form.num_people(placeholder="Количество людей") }}
        <br>
        <br>
        <label for="num_people">Дата начала проекта:</label>
        {{ form.start_project_date(placeholder="Дата") }}
        <br>
        <br>

        <table>
            <tr>
                <th></th>
                <th>P1</th>
                <th>P2</th>
                <th>P3</th>
                <th>P4</th>
                <th>P5</th>
            </tr>
            <tr>
                <td>SP 0:</td>
                <td style="background:#bbbbbb">{{ form.p1_sp0(placeholder="Задания P1 SP 0") }}</td>
                <td>{{ form.p2_sp0(placeholder="Задания P2 SP 0") }}</td>
                <td>{{ form.p3_sp0(placeholder="Задания P3 SP 0") }}</td>
                <td>{{ form.p4_sp0(placeholder="Задания P4 SP 0") }}</td>
                <td style="background:#bbbbbb">{{ form.p5_sp0(placeholder="Задания P5 SP 0") }}</td>
            </tr>
            <tr>
                <td>SP 1:</td>
                <td>{{ form.p1_sp1(placeholder="Задания P1 SP 1") }}</td>
                <td>{{ form.p2_sp1(placeholder="Задания P2 SP 1") }}</td>
                <td>{{ form.p3_sp1(placeholder="Задания P3 SP 1") }}</td>
                <td>{{ form.p4_sp1(placeholder="Задания P4 SP 1") }}</td>
                <td>{{ form.p5_sp1(placeholder="Задания P5 SP 1") }}</td>
            </tr>
            <tr>
                <td>SP 2:</td>
                <td style="background:#bbbbbb">{{ form.p1_sp2(placeholder="Задания P1 SP 2") }}</td>
                <td>{{ form.p2_sp2(placeholder="Задания P2 SP 2") }}</td>
                <td>{{ form.p3_sp2(placeholder="Задания P3 SP 2") }}</td>
                <td>{{ form.p4_sp2(placeholder="Задания P4 SP 2") }}</td>
                <td>{{ form.p5_sp2(placeholder="Задания P5 SP 2") }}</td>
            </tr>
            <tr>
                <td>SP 3:</td>
                <td style="background:#bbbbbb">{{ form.p1_sp3(placeholder="Задания P1 SP 3") }}</td>
                <td>{{ form.p2_sp3(placeholder="Задания P2 SP 3") }}</td>
                <td>{{ form.p3_sp3(placeholder="Задания P3 SP 3") }}</td>
                <td>{{ form.p4_sp3(placeholder="Задания P4 SP 3") }}</td>
                <td>{{ form.p5_sp3(placeholder="Задания P5 SP 3") }}</td>
            </tr>
            <tr>
                <td>SP 5:</td>
                <td style="background:#bbbbbb">{{ form.p1_sp5(placeholder="Задания P1 SP 5") }}</td>
                <td>{{ form.p2_sp5(placeholder="Задания P2 SP 5") }}</td>
                <td>{{ form.p3_sp5(placeholder="Задания P3 SP 5") }}</td>
                <td>{{ form.p4_sp5(placeholder="Задания P4 SP 5") }}</td>
                <td>{{ form.p5_sp5(placeholder="Задания P5 SP 5") }}</td>
            </tr>
            <tr>
                <td>SP 8:</td>
                <td style="background:#bbbbbb">{{ form.p1_sp8(placeholder="Задания P1 SP 8") }}</td>
                <td style="background:#bbbbbb">{{ form.p2_sp8(placeholder="Задания P2 SP 8") }}</td>
                <td>{{ form.p3_sp8(placeholder="Задания P3 SP 8") }}</td>
                <td>{{ form.p4_sp8(placeholder="Задания P4 SP 8") }}</td>
                <td>{{ form.p5_sp8(placeholder="Задания P5 SP 8") }}</td>
            </tr>
            <tr>
                <td>SP 13:</td>
                <td style="background:#bbbbbb">{{ form.p1_sp13(placeholder="Задания P1 SP 13") }}</td>
                <td style="background:#bbbbbb">{{ form.p2_sp13(placeholder="Задания P2 SP 13") }}</td>
                <td style="background:#bbbbbb">{{ form.p3_sp13(placeholder="Задания P3 SP 13") }}</td>
                <td>{{ form.p4_sp13(placeholder="Задания P4 SP 13") }}</td>
                <td style="background:#bbbbbb">{{ form.p5_sp13(placeholder="Задания P5 SP 13") }}</td>
            </tr>
            <tr>
                <td>SP 21:</td>
                <td style="background:#bbbbbb">{{ form.p1_sp21(placeholder="Задания P1 SP 21") }}</td>
                <td style="background:#bbbbbb">{{ form.p2_sp21(placeholder="Задания P2 SP 21") }}</td>
                <td style="background:#bbbbbb">{{ form.p3_sp21(placeholder="Задания P3 SP 21") }}</td>
                <td style="background:#bbbbbb">{{ form.p4_sp21(placeholder="Задания P4 SP 21") }}</td>
                <td style="background:#bbbbbb">{{ form.p5_sp21(placeholder="Задания P5 SP 21") }}</td>
            </tr>
            <tr>
                <td>SP 55:</td>
                <td style="background:#bbbbbb">{{ form.p1_sp55(placeholder="Задания P1 SP 55") }}</td>
                <td style="background:#bbbbbb">{{ form.p2_sp55(placeholder="Задания P2 SP 55") }}</td>
                <td style="background:#bbbbbb">{{ form.p3_sp55(placeholder="Задания P3 SP 55") }}</td>
                <td>{{ form.p4_sp55(placeholder="Задания P4 SP 55") }}</td>
                <td style="background:#bbbbbb">{{ form.p5_sp55(placeholder="Задания P5 SP 55") }}</td>
            </tr>
        </table>
        <br>
        <div style="display: inline-block; width: 13px; height: 13px; background-color: #bbbbbb; margin-right: 5px;"></div>
        <span><b>- Не влияет на срок</b></span>
        <br>
        <br>
        <input type="submit" class="btn btn-danger" value="Создать">
    </form>

    <h2>Сохраненные проекты:</h2>
    <style>
    h1 {
        text-align: center;
        text-decoration: underline;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    .delete-btn {
        margin-left: 10px;
    }
    </style>

    <table>
        <tr>
            <th>Название</th>
            <th>Человек</th>
            <th></th>
            <th>P1</th>
            <th>P2</th>
            <th>P3</th>
            <th>P4</th>
            <th>P5</th>
            <th>Действия</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td><B><I><U>{{ task.name_project }}</U></I></B></td>
            <td><B><I>{{ task.num_people }}</I></B></td>
            <th>SP 0:</th>
            <td style="background:#bbbbbb">{{ task.p1_sp0 }}</td>
            <td>{{ task.p2_sp0 }}</td>
            <td>{{ task.p3_sp0 }}</td>
            <td>{{ task.p4_sp0 }}</td>
            <td style="background:#bbbbbb">{{ task.p5_sp0 }}</td>
            <td>
                <form method="post" action="{{ url_for('users.delete_task', task_id=task.id) }}" style="display: inline;">
                    {{ form.csrf_token }}
                    <button type="submit" class="btn btn-danger delete-btn">Удалить</button>
                </form>
            </td>
        </tr>
        <tr>
        <th>Примерное количество рабочих дней</th>
        <th></th>
        <th>SP 1:</th>
            <td>{{ task.p1_sp1 }}</td>
            <td>{{ task.p2_sp1 }}</td>
            <td>{{ task.p3_sp1 }}</td>
            <td>{{ task.p4_sp1 }}</td>
            <td>{{ task.p5_sp1 }}</td>
            <td>
                <form method="post" action="{{ url_for('users.edit_project', task_id=task.id) }}">
                    {{ form.csrf_token }}
                    <button type="submit" class="btn btn-primary">Изменить</button>
                </form>
            </td>
        </tr>
        <tr>
        <td style="color:green">{{ task.project_duration }}</td>
        <td></td>
        <th>SP 2:</th>
            <td style="background:#bbbbbb">{{ task.p1_sp2 }}</td>
            <td>{{ task.p2_sp2 }}</td>
            <td>{{ task.p3_sp2 }}</td>
            <td>{{ task.p4_sp2 }}</td>
            <td>{{ task.p5_sp2 }}</td>
            <td>
                <form method="post" action="{{ url_for('users.assign_tasks') }}">
                    {{ form.csrf_token }}
                    <button type="submit" class="btn btn-primary">Распределить задания</button>
                </form>
            </td>
        </tr>
        <tr>
        <th>Дата начала</th>
        <th>Дата окончания</th>
        <th>SP 3:</th>

            <td style="background:#bbbbbb">{{ task.p1_sp3 }}</td>
            <td>{{ task.p2_sp3 }}</td>
            <td>{{ task.p3_sp3 }}</td>
            <td>{{ task.p4_sp3 }}</td>
            <td>{{ task.p5_sp3 }}</td>
            <td>
                <form method="post" action="{{ url_for('users.distribute_tasks_per_week') }}">
                    {{ form.csrf_token }}
                    <button type="submit" class="btn btn-primary">Распределить задания <br>по неделям</button>
                </form>
            </td>
        </tr>
        <tr>
        <td>{{ task.start_project_date }}</td>
        <td>{{ task.ending_project_date }}</td>
        <th>SP 5:</th>
            <td style="background:#bbbbbb">{{ task.p1_sp5 }}</td>
            <td>{{ task.p2_sp5 }}</td>
            <td>{{ task.p3_sp5 }}</td>
            <td>{{ task.p4_sp5 }}</td>
            <td>{{ task.p5_sp5 }}</td>
            <td>
                <form method="post" action="{{ url_for('users.delete_assignment', task_id=task.id) }}" style="display: inline;">
                    {{ form.csrf_token }}
                    <button type="submit" class="btn btn-danger delete-btn">Удалить распределение</button>
                </form>
            </td>

        </tr>
        <tr>
        <td></td>
        <td></td>
        <th>SP 8:</th>
            <td style="background:#bbbbbb">{{ task.p1_sp8 }}</td>
            <td style="background:#bbbbbb">{{ task.p2_sp8 }}</td>
            <td>{{ task.p3_sp8 }}</td>
            <td>{{ task.p4_sp8 }}</td>
            <td>{{ task.p5_sp8 }}</td>
            <td>
            <form action="{{ url_for('users.users_page') }}">
                <input type="submit" value="Пользователи">
            </form>
            </td>
        </tr>
        <tr>
        <td></td>
        <td></td>
        <th>SP 13:</th>
            <td style="background:#bbbbbb">{{ task.p1_sp13 }}</td>
            <td style="background:#bbbbbb">{{ task.p2_sp13 }}</td>
            <td style="background:#bbbbbb">{{ task.p3_sp13 }}</td>
            <td>{{ task.p4_sp13 }}</td>
            <td style="background:#bbbbbb">{{ task.p5_sp13 }}</td>
        </tr>
        <tr>
        <td></td>
        <td></td>
        <th>SP 21:</th>
            <td style="background:#bbbbbb">{{ task.p1_sp21 }}</td>
            <td style="background:#bbbbbb">{{ task.p2_sp21 }}</td>
            <td style="background:#bbbbbb">{{ task.p3_sp21 }}</td>
            <td style="background:#bbbbbb">{{ task.p4_sp21 }}</td>
            <td style="background:#bbbbbb">{{ task.p5_sp21 }}</td>
        </tr>
        <tr>
        <td></td>
        <td></td>
        <th>SP 55:</th>
            <td style="background:#bbbbbb">{{ task.p1_sp55 }}</td>
            <td style="background:#bbbbbb">{{ task.p2_sp55 }}</td>
            <td style="background:#bbbbbb">{{ task.p3_sp55 }}</td>
            <td>{{ task.p4_sp55 }}</td>
            <td style="background:#bbbbbb">{{ task.p5_sp55 }}</td>
        </tr>
        {% endfor %}
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </table>

    <form method="post" action="{{ url_for('users.logout') }}">
        {{ form.csrf_token }}
        <br>
        {{ form.submit(class="btn btn-danger", value="Выход") }}
    </form>

    {% if form.errors %}
        <ul class="errors">
            {% for field, errors in form.errors.items() %}
                {% for error in errors %}
                    <li>{{ field }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

</body>
</html>

