<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<style>
    h1 {
        text-align: center;
        text-decoration: underline;
    }

    body {
        text-align: center;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    .delete-btn {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
</style>
<body>
    <h1>Пользователи</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Почта</th>
            <th>Пароль</th>
            <th>Имя и фамилия</th>
            <th>Коэффициент скорости <br> выполнения заданий</th>
            <th colspan="3" style="text-align: center;">Действия</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.kpd }}</td>
            <td style="background-color: #f2f2f2;">
                <form action="{{ url_for('users.delete_user', user_id=user.id) }}" method="post">
                    <button type="submit" class="delete-btn">Удалить</button>
                </form>
            </td>
            <td style="text-align: center; background-color: #f2f2f2;">
                <form action="{{ url_for('users.edit_user', user_id=user.id) }}" method="post">
                    <button type="submit">Изменить</button>
                </form>
            </td>
            <td style="text-align: center; background-color: #f2f2f2;">
                <form action="{{ url_for('users.vacation_page', user_id=user.id) }}" method="get">
                    <button type="submit">Отпуск</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <form action="{{ url_for('users.add_user') }}" method="post">
                <td></td>
                <td><input type="text" name="email" placeholder="Почта"></td>
                <td><input type="text" name="password" placeholder="Пароль"></td>
                <td><input type="text" name="name" placeholder="Имя и Фамилия"></td>
                <td><input type="text" name="kpd" placeholder="КСВЗ"></td>
                <td style="text-align: center; background-color: #f2f2f2;"><button type="submit">Добавить</button></td>
                <td style="text-align: center; background-color: #f2f2f2;"></td>
                <td style="text-align: center; background-color: #f2f2f2;"></td>
            </form>
        </tr>
    </table>
    <br>
    <br>
    <form action="{{ url_for('users.update_kpd_from_excel') }}" method="post">
        <button type="submit">Распределение КСВЗ из бд</button>
    </form>
    <br>
    <br>
    <form action="{{ url_for('users.index') }}" method="get">
        <button type="submit">Вернуться к форме проекта</button>
    </form>
<br>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
</body>
</html>
